# ROS2 / colcon
build/
install/
log/
**/build/
**/install/
**/log/

# Python
__pycache__/
*.pyc
**/__pycache__/
**/*.pyc
*.pyc
*.pyo
*.pyd

# IDE
.vscode/
.idea/

# OS
.DS_Store


# Editors
.vscode/
.idea/
